@charset "utf-8";

:root{
    --cor0:rgb(115, 255, 0);
    --cor1:rgb(23, 168, 9);
    --cor2:rgb(48, 87, 31);
    --cor3:rgb(87, 112, 82);
    --cor4:rgb(185, 199, 177);
    --cor5:rgb(209, 224, 210);

    --fonte-padrao:arial,verdana,helvetica,sans-serif:
    --fonte-destaque:
}
body{
    background-color: var(--cor5);
}

header{
    background-color: var(--cor4);
}

